
:root{
    --primary-color:#d83d73;
    --secondary-color:#eb5757;
    --text-color: #333;
    --bg-light:#f7f7f7;
    --font-stack:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

body{
    font-family: var(--font-stack);
    color: var(--text-color);
}

/*Header*/
.header-nav{
    background-color:#fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding:10px 0;
}

.nav-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width:1200px;
    margin:0 auto;
    padding:0 15px;
}

.nav-menu{
    list-style:none;
    display:flex;
    gap:25px;
    margin:0;
    padding:0;
}

.nav-menu a{
    text-decoration:none;
    color: var(--text-color);
    padding: 10px 0;
    display: block;
    font-weight:500;
}

.search-bar{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width:500px;
    margin:10px auto;
    padding: 10px;
}

.search-bar input{
    width:60%;
    padding: 8px 15px;
    border :1px solid #ddd;
    border-radius:7px;
}

.search-bar button{
    margin-left: 10px;
    padding: 6px 15px;
    background-color: #007bff;
    color:white;
    border: none;
    border-radius: 8px;
    font-size:17px;
    cursor: pointer;
    transition:background-color 0.3s ease;
}

.search-bar button:hover{
    background-color: #014c9c;
}

.logo a{
    font-size: 28px;
    font-weight: bold;
    color:var(--text-color);
    text-decoration:none;
}

.utility-links{
    display: flex;
    gap:15px;
    margin-left: 40px;
}

.utility-links a{
    color: var(--text-color);
    font-size:1.2rem;
    margin-left: 10px;
}

/*Main*/
.main-content-wrapper{
    padding-top: 10px;
    background-color: #f5f5f5;
}
.sidebar-menu-col{
    position: sticky;
    top:10px;
    height: fit-content;
    align-self: flex-start;
}

.sidebar-nav{
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

.sidebar-title{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 15px;
    color: var(--primary-color);
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.sidebar-nav ul{
    padding: 0;
    margin-bottom: 0;
}

.sidebar-nav li a{
    display: block;
    padding:8px 0;
    color: var(--text-color);
    text-decoration:none;
    font-size: 0.9rem;
    transition: color 0.2s ease;
}

.sidebar-nav li a:hover{
    color: var(--primary-color);
    font-weight: 500;
}

/*Hero*/
.hero-about {
    background: linear-gradient(to right, #E2ECF2, #E5DCD1, #977c6c);
    text-align: center;
    padding: 80px 0;
}

.hero-about h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
}

.hero-about p {
    font-size: 1.2rem;
    color: #666;
    max-width: 700px;
    margin: 15px auto 30px;
}

.hero-about img {
    max-width: 900px;
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

/*Câu chuyện */
.story-section {
    background-color: #f5f5f5;
    padding: 80px 0;
}

.story-section h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.story-section p {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.8;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

/*Giá trị cốt lõi*/
.core-values {
    background-color: #f8f8f8;
    padding: 80px 0;
}

.core-values h3 {
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 40px;
}

.value-box {
    background-color: #fff;
    border-left: 5px solid var(--primary-color);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s;
}

.value-box:hover {
    transform: translateY(-5px);
}

.value-box i {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 15px;
}

/*Hình ảnh cửa hàng*/
.gallery img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Cam Kết*/
.commitment {
    padding: 60px 0;
}

.commitment .card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s;
}

.commitment .card:hover {
    transform: translateY(-5px);
}

.commitment i {
    color: var(--primary-color);
    font-size: 2.1rem;
    margin-bottom:10px;
    display: block;
}

.google-map-section iframe{
    width: 100%;
    height:550px;
    border-radius: 7px;
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.15);
    border: 1px sloid #ddd;
}

/*CTA */
.cta-section {
    background-color: #f8f8f8;
    text-align: center;
    padding: 80px 20px;
}

.cta-section h2 {
    font-weight: 700;
    color: #333;
}

.btn-primary-custom {
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.btn-primary-custom:hover {
    background-color: #463e41;
    color: #ffa9a9;
}

.btn-outline-custom {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 12px 24px;
    border-radius: 8px;
    transition: 0.3s;
}

.btn-outline-custom:hover {
    background-color: var(--primary-color);
    color: white;
}

/*Footer*/
.footer{
    background-color: #2d2f31;
    font-size: 1.05rem;
    color: #adb5bd;
    padding:40px 0 20px;
}

.footer a{
    color: #adb5bd;
    text-decoration:none;
    transition: color 0.3s ease;
}
    
.footer a:hover{
    color: #c73232;
}

.footer h5{
    text-transform: uppercase;
    font-size: 170%;
}